<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}autorinok.by{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="keywords" content="">
</head>
<body>
	{% block content %}
    {% endblock %}
</body>
</html>