{% if items|length > 0 %}
<div class="row">
    {% for item in items %}
        <div class="col-md-2 col-sm-4 col-xs-12" style="min-height: 35px; max-height: 50px;">
            <a href="{{ path('auto_catalog_item', {brand_alias: item.alias}) }}">
                {% if item.logo %}
                    <img src="{{ item.logo.image.path }}" width="30px">
                {% endif %}
                {{ item.name }}
            </a>
        </div>
    {% endfor %}
</div>
{% endif %}