# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    vk_client_id:           ~
    vk_client_secret:       ~

    google_client_id:       ~
    google_client_secret:   ~

    facebook_client_id:     ~
    facebook_client_secret: ~

    cource: ~

    car:
        engine:
            1: газ-бензин
            2: бензин
            3: дизель
            4: гибрид
            5: электро
            6: турбодизель
        body:
            1: седан
            2: универсал
            3: хетчбэк
            4: минивен
            5: купе
            6: внедорожник
            7: кроссовер
            8: кабриолет
            9: пикап
            10: лимузин
            11: микроавтобус
        road:
            1: задний
            2: передний
            3: полный
        transmission:
            1: механика
            2: автомат
            3: вариатор
        option:
            1: кондиционер
            2: кондиционер
            3: обивка кожей
            4: легкосплавные диски
            5: ксеноновые фары
            6: парктроники
            7: обогрев сидений
            8: ESP
            9: навигационная система
            10: громкая связь
            11: круиз-контроль
            12: ABS
            13: подушки безопасности
            14: центральный замок
            15: сигнализация
            16: люк