<em>
    <small>
        * этот шаг можно пропустить
    </small>
</em>

<div class="row">
    <div class="col-sm-12">
        <div class="flow-error alert alert-danger hidden">
            К сожалению, ваш браузер не поддерживает загрузку изображений
        </div>
        <div class="drop flow-drop">
            <span class="btn btn-info btn-sm flow-browse">Загрузить фотографии</span>
            <span class="sm">&nbsp;&nbsp;&nbsp;<strong>или</strong> перетащите фотографии в это поле</span>
        </div>
        <br/>
        <div class="flow-list"> </div>
    </div>
</div>