<div id="search-full" class="sidebar-form form-group">
    <label for="brand">Марка</label>
    <select class="brand select" id="brand">

    </select>

    <label for="brand">Модель</label>
    <select class="model select" id="model">

    </select>
</div>