{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ render(controller(
            'AutoUsedBundle:Block:brands',
            { 'popular': true }
            )) }}
        </div>
        <div class="col-sm-8">

        </div>
        <div class="col-sm-4">

        </div>
    </div>
{% endblock %}

